pip==24.0
pandas==2.1.3
cachetools==5.3.3
numpy==1.26.4
python-dateutil==2.9.0
python-dotenv==1.0.1
requests==2.31.0
requests-toolbelt==1.0.0
setuptools==7.0
setuptools-rust==1.9.0
xlrd==2.0.1
docx==0.2.4
docx-mailmerge==0.5.0
docxcompose==1.4.0
docxtpl==0.16.8
python-docx==1.1.0
selenium==4.18.1
webdriver-manager==4.0.1
chromedrivermanager==0.0.1
chrome-devtools-protocol==0.4.0
allure-pytest==2.13.2
allure-python-commons==2.13.2
coverage==7.4.3
iniconfig==2.0.0
py==1.11.0
pytest~=8.0.2
pytest-html==4.1.1
py-xml==1.0
pycparser==2.21
pyodbc==5.1.0
pysocks==1.7.1
pytest-base-url==2.1.0
pytest-cov==4.1.0
pytest-metadata==3.1.1
psycopg2==2.9.9
psycopg2-binary==2.9.9
python-utils==3.8.2
packaging==23.2
pluggy==0.13.1
urllib3==2.2.1
scrapers==0.1.0
beautifulsoup4==4.12.3
bs4==0.0.2
soupsieve==2.5
et-xmlfile==1.1.0
openpyxl==3.1.2
attrs==20.1.0
et-xmlfile==1.0.1
importlib-metadata==1.7.0
iniconfig==1.0.1
jdcal==1.4.1
more-itertools==8.4.0
openpyxl==3.0.5
six==1.16.0
toml==0.10.2
zipp==3.17.0

PyAutoGUI~=0.9.54